/* You can add global styles to this file, and also import other style files */

@import 'variables';
body{
    background-color: $color-fondo;
    color: $color-texto;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}