@use '../../../variables' as global;

:host {
    display: block;
    background-color: global.$color-fondo;
    min-height: 100vh;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}


.login-card {
    background-color: global.$color-secondary;
    padding: 40px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    border: 1px solid global.$color-secondary-dark;

    h1 {
        color: global.$color-focus;
        margin-bottom: 10px;
        font-family: global.$font-main;
    }

    p {
        color: global.$color-texto-light;
        margin-bottom: 30px;
    }
}

.custom-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid global.$color-secondary-light;
    background-color: global.$color-secondary-dark;
    color: white;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;

    &:focus {
        border-color: global.$color-focus;
        box-shadow: 0 0 8px global.$color-focus;
    }
}

.btn-primary {
    width: 100%;
    padding: 15px;
    background-color: global.$color-focus;
    color: global.$color-secondary;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        filter: brightness(1.2);
        transform: translateY(-2px);
    }
}