$color-primary: #450b6e;
$color-secondary: #350359;
$color-secundary-light: #b598cc;
$color-fondo: #450b6e;
$color-texto: #ffffff;
$color-texto-light: #b598cc;
$color-secundary-dark: #3B1C53;
$color-focus:#00F2FF;