/* src/styles.scss */

@use './variables' as *;

body {
    background-color: $color-fondo;
    color: $color-texto;
    font-family: 'Inter', sans-serif; // Aprovechamos de poner la del Dashboard
    margin: 0;
    padding: 0;
}